---
import CardSkill from "../components/CardSkill.astro";
import Layout from "../layouts/Layout.astro";

import { skills } from "../data/data";
---

<Layout title="skills">
    <div class="bg-white/5 p-4">        
        <ul class="gap-4 grid px-2 xl:grid-cols-2">
            {
                skills.map((skill) => (
                <CardSkill skill={skill}/>
                ))
            }
        </ul>          
    </div>
</Layout>