:root{
    --height: 70px;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: #fafafa;
    font-family: sans-serif;
}

.container{
    margin: 0 auto;
    max-width: 1200px;
    overflow: hidden;
    width: 90%;
}

.head__nav{
    background: #4834d4;
    color: #dff9fb;
    height: var(--height);
}

.head__nav__container{    
    display: flex;
    justify-content: space-between;
    align-items: center;    
    height: inherit;
}

.nav__link{
    color: #dff9fb;
    padding: 20px 14px 0 0;    
    text-decoration: none;    
}

.head__main{
    align-items: center;
    display: flex;
    height: calc(100vh - var(--height));
    min-height: 600px;
}

.texts__titulo{    
    font-size: 3rem;
}

.texts__parrafo{
    font-size: 1.5rem;
    font-weight: bold;
}

.texts__button{
    background: #eb4d4b;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    color: #4834d4;
    font-weight: bold;
    display: inline-block;
    margin-top: 1.5em;
    padding: 15px 20px;
    text-decoration: none;
}

.head__main__texts{
    flex: 1;
}

.head__main__figure{
    flex: 1;
}

.figure__img{    
    display: block;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0));   
    margin: 0 auto;
    max-width: 600px;    
    width: 100%;
}

@media screen and (max-width: 900px) {
    :root{
        --height: 100px;
    }
    .head__nav__container{
        flex-direction: column;
        justify-content: space-evenly;
    }

    .head__main{
        flex-direction: column;
        padding: 40px 0;
    }

    .head__main__figure{
        order: -1;
    }

    .figure__img{
        max-width: 500px;
    }

    .head__main__texts{
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .texts__titulo{
        font-size: 2rem;
    }

    .texts__parrafo{
        font-size: 1rem;
    }
}